:root {
  --primary-color: #4CAF50;
  --danger-color: #fb2c2c;
  --tertiary-color: #777;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: aliceblue;
  border-radius: 1em;
  box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.2);
}

fieldset{
  display: flex;
  row-gap: 1em;
  flex-direction: column;
  border-style: none;
}

.button-group {
  display: flex;
  justify-content: center;
  gap: 1em;

  & button {
    color: white;
    border: none;
    padding: 0.5em 1em;
    border-radius: 0.3em;
    cursor: pointer;
  }

  & button:disabled{
    opacity: 0.6;
    cursor: not-allowed;
  }

  & .btn-primary {
    background-color: var(--primary-color);
  }

  & .btn-primary:hover:not(:disabled) {
    filter: brightness(0.90);
  }

  & .btn-danger {
    background-color: var(--danger-color);
  }

    & .btn-danger:hover:not(:disabled) {
    filter: brightness(0.90);
  }

  & .btn-tertiary {
    background-color: var(--tertiary-color);
  }

  & .btn-tertiary:hover:not(:disabled) {
    filter: brightness(0.90);
  }
}



select {
  margin-left: 0.5em;
  padding: 0.3em;
  border-radius: 0.3em;
  border: 1px solid #ccc;
  font-size: 1em;
}





